*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul,ol, menu {
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.container {
    max-width: 1024 px;
    margin: 0 auto;
}